@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    font-family: var(--paragraph-front);
    max-width: 960px;
    padding: 20px;
}

:root {
--primary-color:#588157 ;
--secondary-color: #DAD7CD ;
--accent1-color: #A3B18A ;
--accent2-color2: #344E41;

--heading-font:oswald;
--paragraph-font:oswald;

--nav-background-color:#588157;
--nav-link-color:#344E41;
--nav-hover-link-color: #DAD7CD;
--nav-hover-background-color:#A3B18A;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family:var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--secondary-color);
}

p {
    padding: 20px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display:block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}